<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>
      {%- block title -%}
        네이버 웹툰 RSS
      {%- endblock -%}
    </title>
  </head>
  <body>
    {% block body %}
      <h1>네이버 웹툰 RSS</h1>
    {% endblock %}
    <footer>
      <p>이 프로그램은 <a href="http://www.gnu.org/licenses/agpl.html"><abbr
         title="GNU Affero General Public License">AGPL</abbr></a> 하에
         <a href="https://bitbucket.org/dahlia/navercomicfeed">소스 코드</a>와
         함께 배포되고 있습니다. 버그는
         <a href="https://bitbucket.org/dahlia/navercomicfeed/issues">버그
         트래커</a>에
         <a href="https://bitbucket.org/dahlia/navercomicfeed/issues/new">신고
         </a>해 주세요. / <a href="http://dahlia.kr/">홍민희</a></p>
    </footer>
  </body>
</html>
    
