<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>
      {%- block title -%}
        네이버 웹툰 RSS
      {%- endblock -%}
    </title>
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename='style.css') }}" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js">
    </script>
  </head>
  <body>
    <header>
      <h1><a href="{{ url_for('home') }}">네이버 웹툰 <em>RSS</em></a></h1>
      <nav>
        <a href="{{ url_for('webtoon_list') }}">웹툰</a>
        <a href="{{ url_for('bestchallenge_list') }}">베스트 도전</a>
        <a href="{{ url_for('etc') }}">도전만화 및 기타</a>
      </nav>
    </header>
    <div class="body {% block body_class %}{% endblock %}">
      {% block body %}
      {% endblock %}
    </div>
    <footer>
      <p>이 프로그램은 <a href="http://www.gnu.org/licenses/agpl.html"><abbr
         title="GNU Affero General Public License">AGPL</abbr></a> 하에
         <a href="https://bitbucket.org/dahlia/navercomicfeed">소스 코드</a>와
         함께 배포되고 있습니다. 버그는
         <a href="https://bitbucket.org/dahlia/navercomicfeed/issues">버그
         트래커</a>에
         <a href="https://bitbucket.org/dahlia/navercomicfeed/issues/new">신고
         </a>해 주세요. / <a href="http://dahlia.kr/">홍민희</a></p>
    </footer>
  </body>
</html>
    
