{% extends 'base.html' %}
{% block title -%}
  {{ super() }} &mdash; 베스트 도전
{%- endblock %}
{% block body_class %}
  titles
{% endblock %}
{% block body %}
  {{ super() }}
  <h2>{% block h2 %}베스트 도전{% endblock %}</h2>
  <div class="titles">
    {% for title_id, title, thumb_url in comics %}
      <div class="title">
        <img src="{{ proxy_url_for(thumb_url) }}" />
        <a href="{{ url_for('feed', type='webtoon',
                    title_id=title_id, limit=15) }}">{{ title }}</a>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
